product/priv-app/Velvet/Velvet.apk
product/priv-app/Settings/Settings.apk
opproduct.img
system/system/app/OPWallpaperResources/OPWallpaperResources.apk
system/system/priv-app/OnePlusGallery/OnePlusGallery.apk
reserve.img
